{% extends 'flatpages/default.html' %}
{% block title %}
posts
{% endblock title%} 
    
{% block content %}
    <h1>Все посты</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form> 
    <h3>Всего новостей:{{ Posts|length }}</h3>
    
        
    <hr>
    {% if perms.simpleapp.add_post %}
    <a href="{% url 'post_create' %}">Добавить Пост </a>
    {% endif %}

    {% if posts %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Категория</td>
                <td>Содержание</td>
            

                {% if perms.simpleapp.change_post or perms.simpleapp.delete_post %}
                <td>Действия</td>
                {% endif %}

            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_detail' pk=post.id %}">{{ post.title }}</a></td>
                <td>{{ post.dateCreation|date:'M d Y' }}</td>
                <td>{{post.category}}</td>
                <td>
                    {% if perms.simpleapp.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.simpleapp.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
                <td>{{post.text|safe}}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2> Постов нет <h2>
    {% endif %}

    {% if page_obj.previous_page_number == 1 %}
    <a href="?page=1">1</a>
    {% endif %}
    {% if page_obj.previous_page_number != 1 %}
    <a href="?page=1">
        Начало
    </a>
    ...
    <a href="?page={{ page_obj.previous_page_number }}">
        {{ page_obj.previous_page_number }}
    </a>

    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}
        </a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ paginator.num_page }}">
                Конец
            </a>
        {% endif %}
    {% endif %}

{% endblock content%}
</body>
</html>