{% extends 'flatpages/default.html' %}
<!-- Название у нас будет Product -->
{% block title %}
Post

{% endblock title %}


{% block content %}
<table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>
                <td>Категория</td>
            </tr>
        
            
        
            <tr>
                
                <td>{{ post.title }}</td>
                <td>{{ post.dateCreation|date:'M d Y' }}</td>
                <td>{{ Post.text }}</td>
                <td>
                    {% for posts in post.category.all %}
                         {{ post.name }}
                     {% endfor %} 
                 </td>
                <td>{{ post.category }}</td>
            </tr>
            

        </table>
        <h3>Создать отклик</h3>
        <form action="{% url 'response_create' post.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Откликнутся">
        </form>
        {% if responses %}
        <h3>Все отклики</h3>
        <table>
            <tr>
                <td>Автор</td>
                <td>Содержание отклика</td>
            </tr>
        {% for response in responses %}
            
            <tr>
                <td>{{ response.author }}</td>
                <td>{{ response.text }}</td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
{% endblock content %}