<!DOCTYPE html>
{% extends 'flatpages/default.html' %}

{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Поиск
        {% endblock title%}
    </title>
</head>
<body>
{% block content %}

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    <hr>
    {% if search %}
        <table>
            <tr>
                <th>Заголовок</th>
                <th>Время публикации</th>
                <th>Категория</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.dateCreation|date:'d M Y'  }}</td>
                <td>{{ post.category }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет! Вообще нет!</h2>
    {% endif %}

    {% if page_obj.previous_page_number == 1 %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% endif %}
    {% if page_obj.previous_page_number != 1 %}
    <a href="?{% url_replace page=1 %}">
        Начало
    </a>
    ...
    <a href="?page={% url_replace page=page_obj.previous_page_number %}">
        {{ page_obj.previous_page_number }}
    </a>

    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={% url_replace page=page_obj.next_page_number %}">
            {{ page_obj.next_page_number }}
        </a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={% url_replace page=paginator.num_page %}">
                Конец
            </a>
        {% endif %}
    {% endif %}

{% endblock content%}
</body>
</html>