<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запрос на верификацию</title>
</head>
<body>
    <h2>Запрос на верификацию</h2>
    <p>Для завершения регистрации, вам необходимо подтвердить свой аккаунт. Мы отправили вам код верификации на вашу электронную почту.</p>
    
    <form method="post" action="{% url 'verify_email' %}">
        {% csrf_token %}
        <label for="verification_code">Введите код верификации:</label>
        <input type="text" id="verification_code" name="verification_code" required>
        <button type="submit">Подтвердить</button>
    </form>


</body>
</html>